*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.headPage{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    width:100%;
    padding:20px 0;
}
.headPage-description{
    width:70%;
    text-align:center;
}
.shopLink{
    color:white;
    font-weight: bold;
}
header{
    display:grid;
    grid-template-columns: 30% 40% 30%;
    align-items:center;
    margin-bottom:10px;
    border:solid 1px gray;
}
.exclusive{
    font-size:2em;
    font-weight:bolder;
    text-align:center;
}
.linkOptions{
    list-style: none;
    display:flex;
    justify-content: space-between;
    
}

.search-bar{
    text-align:center;
    background:rgb(226, 225, 225);
    opacity:0.5;
    border-radius:5px;
    margin:auto;
    padding:5px 15px;
    width:60%;
    display:flex;
    justify-content:space-between;
}
section{
    margin:50px 0px 0 110px;/*top right bottom left*/
    
}
.ourStory{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.story-description{
    width:40%;
}
.story-title{
    margin-bottom:24px;
    font-weight: bold;
}
.story-text{
    margin-bottom:16px;
}
.story-image{
    width:50%;
    height:60vh;
}
.story_img{
    width:100%;
    height:100%;
}
.carts{
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
}
.cart{
    border:solid 1px silver;
    border-radius:5px;
    padding:20px 10px;
    text-align:center;
    width:20%;
}

.icon-subcontainer{
    background-color: silver;
    padding:10px 0;
    width:60px;
    height:60px;
    margin:auto;
    margin-bottom:20px;
    border-radius: 50%;
}
.icon-container{
    background-color: black;
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin:auto;
}
.cart-price{
    font-weight:bold;
    font-size:2em;
}

.cart-icon{
    color:white;
    position:relative;
    top:25%;
}
#selected-cart{
    box-shadow: 1px 1px 2px silver;
}
.team{
    display:flex;
    width:80%;
    justify-content: space-between;
    margin-left:110px;
}
.member1{
    width:25%;
}
.member{
    border-radius:5px;
    border:solid 1px silver;
    background-color: silver;
    width:300px;
    height:300px;
}
.member img{
    width:100%;
    height:100%;
}
.member-info{
    margin-top:12px;
}
.social-link{
    margin-top:12px;
}
.item{
    padding:20px 10px;
    width:30%;
    text-align:center;
}