*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-container-section{
    margin-left:100px;
    margin-top:50px;
}
.ourStory{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.story-description{
    width:40%;
}
.story-title{
    margin-bottom:24px;
    font-weight: bold;
}
.story-text{
    margin-bottom:16px;
}
.story-image{
    width:50%;
    height:60vh;
}
.story_img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.carts, .small-carts{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin:100px 0;
}
.cart{
    border:solid 1px silver;
    border-radius:5px;
    padding:20px 10px;
    text-align:center;
    width:20%;
}

.icon-subcontainer{
    background-color: silver;
    padding:10px 0;
    width:60px;
    height:60px;
    margin:auto;
    margin-bottom:20px;
    border-radius: 50%;
}
.icon-container{
    background-color: black;
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin:auto;
}
.cart-price{
    font-weight:bold;
    font-size:2em;
}

.cart-icon{
    color:white;
    position:relative;
    top:25%;
}
#selected-cart{
    box-shadow: 1px 1px 2px silver;
}
.team-member{
    display:flex;
    width:90%;
    justify-content: space-between;
    margin:20px 0;
}
.member{
    border-radius:5px;
    width:300px;
    height:300px;
    background: #f8f8f8;
}
.member img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.member-info{
    margin-top:20px;
}
.social-link{
    margin-top:12px;
}
.team-buttons{
    display:flex;
    gap:10px;
    margin-top:10px;
    justify-content: center;
}
.team-btn{
    width:12px;
    height:12px;
    background-color: silver;
    border-radius: 50%;
    cursor: pointer;
}
.small-carts{
    margin:150px 0;
}
.item{
    padding:20px 10px;
    width:30%;
    text-align:center;
}

@media (max-width: 1115px){
    body{
        background-color: #DDFF44;
    }
    .member{
        width:200px;
    }
}

@media (max-width: 988px){
    
}