*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
section{
    margin:30px 30px 100px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.home{
    color:silver;
    font-weight: bold;
}
.myAccount, .welcome{
    color:black;
}
.profilName{
    color:red;
}
.content{
    display:flex;
    justify-content:space-around;
}
.pageOptions{
    margin-top:50px;
    width:30%;
}
.manage-account, .myOrders{
    list-style: none;
    margin-left:32px;
    margin-bottom:16px;
    color:silver;
    line-height: 1.5;
    
}
.first-option, .second-option, .third-option{
    color:black;
    font-weight:bold;
    margin-bottom:16px;
}

.edit-form{
    margin-top:50px;
    border-radius:5px;
    padding:30px;
    width:40%;
    box-shadow: 1px 1px 3px rgb(75, 74, 74);
}
.edit{
    color:red;
    margin-bottom: 10px;
}
form input{
    margin:5px 0 15px 0;
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
    width:100%;
    background-color: #F5F5F5;
}
.personal-info{
    display:flex;
    justify-content: space-between;
    width:100%;
    flex-wrap:wrap;
}
.buttons{
    text-align:right;
}
button{
    padding:10px;
}
.cancel{
    border:transparent;
    border-radius:5px;
    background-color:none;
    color:black;
}
.save{
    border:none;
    border-radius:5px;
    background-color: brown;
    color:white;
    font-weight: bold;
    width:30%;
}




    



