*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.headPage{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    width:100%;
    padding:20px 0;
}
.headPage-description{
    width:70%;
    text-align:center;
}
.shopLink{
    color:white;
    font-weight: bold;
}
header{
    display:grid;
    grid-template-columns: 30% 40% 30%;
    align-items:center;
    margin-bottom:10px;
    border:solid 1px gray;
}
.exclusive{
    font-size:2em;
    font-weight:bolder;
    text-align:center;
}
.linkOptions{
    list-style: none;
    display:flex;
    justify-content: space-between;
    
}

.search-bar{
    text-align:center;
    background:rgb(226, 225, 225);
    opacity:0.5;
    border-radius:5px;
    margin:auto;
    padding:5px 15px;
    width:60%;
    display:flex;
    justify-content:space-between;
}
section{
    margin:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.home{
    color:silver;
    font-weight: bold;
}
.myAccount, .welcome{
    color:black;
}
.profilName{
    color:red;
}
.content{
    display:flex;
    justify-content:space-around;
}
.pageOptions{
    margin-top:50px;
    width:30%;
}
ul{
    list-style: none;
    margin-left:32px;
    margin-bottom:16px;
    color:silver;
    line-height: 1.5;
    
}
.first-option, .second-option, .third-option{
    color:black;
    font-weight:bold;
    margin-bottom:16px;
}

.edit-form{
    background:skyblue;
    box-shadow: 1px 1px 1px darkblue;
    margin-top:50px;
    border-radius:5px;
    padding:30px;
    width:40%;
}
.edit{
    color:red;
    margin-bottom: 10px;
}
input{
    margin:5px 0 15px 0;
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
    width:100%;
}
.personal-info{
    display:flex;
    justify-content: space-between;
    width:100%;
    flex-wrap:wrap;
}
.buttons{
    text-align:right;
}
button{
    padding:10px;
}
.cancel{
    border:transparent;
    border-radius:5px;
    background-color:none;
    color:black;
}
.save{
    border:none;
    border-radius:5px;
    background-color: brown;
    color:white;
    font-weight: bold;
    width:30%;
}




    



