*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.home{
    width:90%; 
    margin: 30px auto;
}
.table{
    width:90%;
    border-collapse: collapse;
    margin:50px auto;
    margin-bottom:20px;
}
.table-row{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin:20px 0;
    box-shadow: 0.5px 0.5px 5px silver;
    text-align:center;
}
#first-line{
    padding:10px;
}
#special-one{
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
#quantity{
    border:solid 2px silver;
    outline:none;
    border-radius:5px;
    text-align: center;
    padding:5px;
}
.table-options{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.table-options button{
    padding:10px 20px;
    border:solid 1px black;
    border-radius:5px;
    background-color: #FFFFFF;
    font-weight:bold;
}
.table-options button:hover{
    box-shadow: 0.5px 0.5px 5px black;
    cursor:pointer;
}
.table-options button a{
    text-decoration:none;
    color:#000000;
}
.bill{
    width:90%;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
}
.coupon{
    display: flex;
    gap:20px;
    height:50px;
}
.coupon input{
    padding:10px;
    border-radius:5px;
    border:solid 1px silver;
    width:300px;
    outline:none;
    height:auto;
}
.coupon button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    color:white;
    font-weight:bold;
    background: #DB4444;
}
.coupon button:hover, .checkout button:hover{
    background: #FFFFFF;
    color: #DB4444;
    border:solid 1px #DB4444;
    cursor: pointer;
}
.bill-details{
   padding:20px;
   border-radius:5px;
   border:solid 1px silver;
   box-shadow: 0.5px 0.5px 5px silver;
   width:30%;
}
.bill-detail, .total-bill{
    display:flex;
    justify-content: space-between;
    margin:10px 0;
    border-bottom:solid 1px silver;
    padding-bottom:10px;
}
.total-bill{
    border-bottom:none;
}
.checkout{
    width:60%;
    margin:20px auto;
    margin-bottom:0;
    display:flex;
    justify-content: center;
}
.checkout button{
    padding:10px;
    border:none;
    border-radius:5px;
    background-color: #DB4444;
    color:white;
    font-weight:bold;
}
