*{
    padding:0;
    margin:0;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
form{
    box-shadow: 0.5px 0.5px 3px rgb(21, 16, 41);
    width:40%;
    padding:10px 5px 20px 5px;
    border-radius: 5px;
}
.title{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.user-identity{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
    margin-top:20px;
}
.user-names{
    display:flex;
    gap: 20px;
}
input{
    height:30px;
    border-radius:5px;
    width:100%;
    border:none;
}
.special{
    border:solid 1px #000000;
    display: flex;
    align-items:center;
    gap:5px;
    border-radius:5px;
    padding-left:5px;
}
label{
    font-weight:bold;
}
#accept{
    border:none;
}
#submit-button{
    border:solid 1px black;
    background-color: black;
    color:white;
}
