*{
    margin:0;
    padding:0;
}
.responsive-bar{
    display:none;
}

.central-view{
    margin-top:100px;
    width: 100%;
    height:350px;
    border-radius:10px;
    position:relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main-image{
    width:100%;
    height: 100%;
    border-radius:5px;
    opacity: 0.1;
    
}
.description{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.main-title{
    font-size:50px;
    line-height: 1;
}
.describe{
    margin-top:10px;
}
#discover-button{
    margin:20px 0;
    border:none;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    color:white;
    border-radius:5px;
    padding:10px 15px;
    
}
.exposition-section{
    margin-top:150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.exposition-title{
    text-align:center;
    margin-bottom:20px;
}
.exposition-description{
    display:flex;
    /*height:450px;*/
    justify-content: space-between;
    align-items:center;
    margin-top:40px;
}
.text-description{
    width:45%;

}
.subtitle{
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    -webkit-background-clip: text;
    color:transparent;
    line-height:1.4;
    margin-bottom:20px;
}
.tickets{
    list-style:none;
    width:45%;
    
}
.ticket{
    background-color: #ffffff;
    padding:15px;
    border:solid 1px silver;
    border-radius:10px;
    margin-bottom:15px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ticket-title{
    font-weight:bolder;
    margin:0;
}

.projects-section{
    margin-top:100px;
}
.projects-title{
    text-align:center;
}
.projects{
    margin-top:60px;
    list-style:none;
    display:flex;
    justify-content: space-between;
}
.project{
    width:30%;
    height:310px;
    border-radius:10px;
    background-color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:solid 1px silver;
}
.project-img-div{
    height:50%;
}
.project-image{
    height:100%;
    width:100%;
}
.projects-info{
    display:flex;
    flex-direction:column;
    text-align:left;
    padding:0 20px;
}
.project-header{
    margin:10px 0 10px 0;
    line-height:1.5;
}
.project-author{
    color:#9400D3;
    font-weight:bold;
}
.project-description{
    color:rgb(71, 71, 71);
}
.impression{
    margin-top:150px;
}
.impression-header{
    margin:auto;
    width:40%;
    text-align:center;
}
.comment_form{
    margin-top:50px;
    display:flex;
    width:100%;
    gap:50px;
    justify-content: space-between;
}
.form-part{
    width:50%;
}
form{
    margin-top:10px;
}
#name{
    width:95%;
    border:solid 1px silver;
    background-color: #ffffff;
    border-radius:5px;
    height:25px;
    margin-bottom:10px;
    padding: 0 5px;
}
#comment{
    width:95%;
    padding: 5px 5px;
    border:solid 1px silver;
    background-color: #ffffff;
    border-radius:5px;
}
#name:hover,#comment:hover{
    outline:none;
}
.submit{
    margin-top:10px;
    border:none;
    border-radius: 5px;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    padding:10px 30px;
    color:#ffffff;
    font-weight:bold;

}
.examples{
    width:50%;
}
.comments-list{
    list-style:none;
}
.comment-elt{
    border:solid 1px silver;
    background-color: #ffffff;
    border-radius:10px;
    margin-bottom:15px;
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.comment-header{
    display:flex;
    align-items:center;
    gap:20px;
    
}
.profil{
    width:40px;
    height:40px;
    background-color: silver;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.letter1{
    color:#9400D3;
    font-weight:bolder;
}
.letter2{
    color:#1E90FF;
    font-weight:bolder;
}
.profil-name{
    font-size:10px;
}
.comment-text{
    margin-top:10px;
}

@media (max-width: 1048px) {
    body{
        margin:20px 50px;
    }
    .main-title{
        font-size:30px;
    }
    .project-img-div{
        height:50%;
    }
    .projects-info{
        height:50%;
        padding:0 10px;
    }
    i{
        margin-bottom:10px;
    }
    .subtitle, .exposition-title{
        font-size:1.6em;
    }
    .subtitle + p {
        width:90%;
        
    }
    .ticket{
        padding:10px;
    }
    .ticket-title{
        font-size:1em;
    }
    .ticket-title + p{
        font-size:0.8em;
    }
    
}

@media (max-width: 983px) {
    .nav-bar{
       box-shadow: none;
       border-bottom:none;
    }
    .menu-bar{
        display:none;
    }
    .responsive-bar{
        display:block;
    }
    .exposition-section, .impression{
        margin-top:100px;
    }
    .project-name{
        font-size:1em;
    }
    .comment-text{
        font-size:0.8em;
    }
    .name-etp{
        font-size:1.2em;
    }
    .menu-options{
        gap:15px;
    }
}

@media (max-width: 780px){
    body{
        margin:30px;
    }
    .central-view{
        margin-top:50px;
    }
}

@media (max-width:710px){
    .project-header{
        margin:5px 0 0 0;
    }
    .projects-info{
        padding-right:2px;
    }
    .project-description{
        font-size:13px;
    }
    footer {
        flex-direction: column-reverse;
        gap:20px;
    }
}

@media (max-width:620px){
    .exposition-section{
        margin-top:50px;
    }
    .exposition-description{
        display:block;
        margin-top:0;
    }
    .text-description{
        width:100%;
        margin-bottom:20px;
    }
    .subtitle{
        margin-bottom:10px;
        text-align:center;
        font-weight: 0.6em;
    }
    .subtitle + p {
        text-align:justify;
        width:100%;
        font-size:0.8em;
    }
    .tickets{
        display:flex;
        width:100%;
        gap:10px;
    }
    .ticket{
        width:30%;
    }
    .ticket-title{
        margin-bottom:10px;
    }
    .ticket-title + p {
        text-align:justify;
    }
    .projects-section{
        margin-top:40px;
    }
    .impression{
        margin-top:60px;
    }
    .impression-header{
        width:90%;
    }
    
}

@media (max-width:530px){
    .central-view{
        height:auto;
    }
    .main-title{
        font-size:40px;
    }
    .projects{
        margin-top:60px;
        width:100%;
        gap:20px;
        
        flex-direction: column;
    }
    .project{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
        height:150px;
    }
    .project-img-div{
        width:50%;
        height: 100%;

    }
    .project-image{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .projects-info{
        width:45%;
        height:100%;
        margin:auto;
        padding:10px;
        display:flex;
    }
    .comment-elt{
        padding:10px;
    }
}
@media (max-width:450px){
    .main-title{
        font-size:30px;
    }
    .comment_form{
       flex-direction:column-reverse;
       gap:16px;
       margin-top:20px;
    }
    .form-part{
        width:100%;
    }
    .submit{
        width:100%;
        margin-bottom:16px;
    }
    .examples{
        margin-top:20px;
        width:100%;
    }
    .comment-link{
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width:430px){
    .tickets{
        display:block;
    }
    .ticket{
        width:auto;
    }
    .ticket-title{
        margin-bottom:0;
    }
}
