*{
    margin:0;
    padding:0;
    
}
body{
    margin: 20px 100px;
    background-color: rgb(247, 244, 244);
}
nav{
    display:flex;
    justify-content: space-between;
    padding: 10px 30px ;
    align-items: center;
    border-bottom:solid 1px beige;
    font-family:cursive;
    box-shadow: 0px 1px 0 0 rgba(151, 151, 151, 0.2);
}
.etp-id{
    display:flex;
    gap:20px;
}
.menu-options{
    display:flex;
    list-style: none;
    gap:30px;
}
.option{
    padding:5px;
}
#signIn{
    border:none;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    color:white;
    border-radius:5px;
    padding:5px;
}
#signIn:hover, #discover-button:hover{
    cursor:pointer;
    background:linear-gradient(90deg,#1E90FF, #9400D3);
}
.central-view{
    margin-top:100px;
    weight:100%;
    height:350px;
    border-radius:10px;
    position:relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.image-container{
    width:50%;
    height:100%;
}
.main-image{
    width:100%;
    height: 100%;
    border-radius:5px;
    opacity: 0.2;
    
}
.description{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:35%;
    text-align:center;
}
.main-title{
    font-size:50px;
    line-height: 1;
}
.describe{
    margin-top:10px;
}
#discover-button{
    margin:20px 0;
    border:none;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    color:white;
    border-radius:5px;
    padding:10px 15px;
    
}
.exposition-section{
    margin-top:200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:500px;
    max-height: 500px;
}
.exposition-title{
    text-align:center;
}
.exposition-description{
    display:flex;
    height:450px;
    align-items:center;
}
.text-description{
    width:50%;
    margin-right:30px;
}
.subtitle{
    width:60%;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    -webkit-background-clip: text;
    color:transparent;
    line-height:1;
    margin-bottom:20px;
}
.subtitle + p{
    width:75%;
}
i{
    margin-bottom:15px;
}
.tickets{
    list-style:none;
    width:50%;
}
.ticket{
    background-color: #ffffff;
    padding:15px;
    border:solid 1px silver;
    border-radius:10px;
    margin-bottom:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ticket-title{
    font-weight:bolder;
}