*{
    margin:0;
    padding:0;
    
}
body{
    margin: 20px 100px;
    /*background-color: rgb(247, 244, 244);*/
    background-color:#ececec;
}
nav{
    display:flex;
    justify-content: space-between;
    padding: 10px 30px ;
    align-items: center;
    border-bottom:solid 1px beige;
    font-family:cursive;
    box-shadow: 0px 1px 0 0 rgba(151, 151, 151, 0.2);
}
.etp-id{
    display:flex;
    gap:20px;
}
.menu-options{
    display:flex;
    list-style: none;
    gap:30px;
}
.option{
    padding:5px;
}
#signIn{
    border:none;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    color:white;
    border-radius:5px;
    padding:5px;
}
#signIn:hover, #discover-button:hover, .submit:hover{
    cursor:pointer;
    background:linear-gradient(90deg,#1E90FF, #9400D3);
}
.central-view{
    margin-top:100px;
    weight:100%;
    height:350px;
    border-radius:10px;
    position:relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.image-container{
    width:50%;
    height:100%;
}
.main-image{
    width:100%;
    height: 100%;
    border-radius:5px;
    opacity: 0.1;
    
}
.description{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:35%;
    text-align:center;
}
.main-title{
    font-size:50px;
    line-height: 1;
}
.describe{
    margin-top:10px;
}
#discover-button{
    margin:20px 0;
    border:none;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    color:white;
    border-radius:5px;
    padding:10px 15px;
    
}
.exposition-section{
    margin-top:200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:500px;
    max-height: 500px;
}
.exposition-title{
    text-align:center;
}
.exposition-description{
    display:flex;
    height:450px;
    align-items:center;
}
.text-description{
    width:50%;
    margin-right:30px;
}
.subtitle{
    width:60%;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    -webkit-background-clip: text;
    color:transparent;
    line-height:1.4;
    margin-bottom:20px;
}
.subtitle + p{
    width:75%;
}
i{
    margin-bottom:15px;
}
.tickets{
    list-style:none;
    width:50%;
}
.ticket{
    background-color: #ffffff;
    padding:15px;
    border:solid 1px silver;
    border-radius:10px;
    margin-bottom:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ticket-title{
    font-weight:bolder;
}
.projects-section{
    margin-top:100px;
}
.projects-title{
    text-align:center;
}
.projects{
    margin-top:60px;
    list-style:none;
    display:flex;
    justify-content: space-between;
}
.project{
    width:30%;
    height:350px;
    border-radius:10px;
    background-color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:solid 1px silver;
}
.project img{
    width:100%;
    height:60%;
    border-bottom: solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
   
.projects-info{
    height:40%;
    display:flex;
    flex-direction:column;
    text-align:left;
    padding:0 20px;
}
.project-header{
    margin:10px 0 10px 0;
    line-height:1.5;
}
.project-author{
    color:#9400D3;
    font-weight:bold;
}
.project-description{
    color:rgb(71, 71, 71);
}
.impression{
    margin-top:150px;
}
.impression-header{
    margin:auto;
    width:40%;
    text-align:center;
}
.comment_form{
    margin-top:50px;
    display:flex;
    width:100%;
    gap:50px;
    justify-content: space-between;
}
.form-part{
    width:50%;
}
form{
    margin-top:10px;
}
.examples{
    width:50%;
}
#name{
    width:95%;
    border:solid 1px silver;
    background-color: #ffffff;
    border-radius:5px;
    height:25px;
    margin-bottom:10px;
    padding: 0 5px;
}
#comment{
    width:95%;
    padding: 5px 5px;
    border:solid 1px silver;
    background-color: #ffffff;
    border-radius:5px;
}
#name:hover,#comment:hover{
    outline:none;
}
.submit{
    margin-top:10px;
    border:none;
    border-radius: 5px;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    padding:10px 30px;
    color:#ffffff;
    font-weight:bold;

}
.comments-list{
    list-style:none;
}
.comment-elt{
    border:solid 1px silver;
    background-color: #ffffff;
    border-radius:10px;
    margin-bottom:15px;
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.comment-header{
    display:flex;
    align-items:center;
    gap:20px;
    
}
.profil{
    width:40px;
    height:40px;
    background-color: silver;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.letter1{
    color:#9400D3;
    font-weight:bolder;
}
.letter2{
    color:#1E90FF;
    font-weight:bolder;
}
.profil-name{
    font-size:10px;
}
.comment-text{
    margin-top:10px;
}
.comment-link{
    color:#9400D3;
    margin:auto;
}

@media (max-width:1115px){
    .subtitle{
        width:100%;
    }
    .main-title{
        font-size:40px;
    }
}

@media (max-width: 1048px) {
    body{
        margin:0 50px;
    }
    .project img{
        height:50%;
    }
    .projects-info{
        height:50%;
        padding:0 10px;
    }
    .main-title{
        font-size:30px;
    }
    .exposition-description{
        height:400px;
    }
    i{
        margin-bottom:10px;
    }
    .subtitle, .exposition-title{
        font-size:1.6em;
    }
    .subtitle + p {
        width:90%;
        font-size:0.8em;
    }
    .ticket{
        padding:10px;
    }
    .ticket-title{
        font-size:1em;
    }
    .ticket-title + p{
        font-size:0.8em;
    }
    
}

@media  (max-width: 983px) {
    .project-name{
        font-size:1em;
    }
    .comment-text{
        font-size:0.8em;
    }
    .name-etp{
        font-size:1.2em;
    }
    .menu-options{
        gap:15px;
    }
}

@media (max-width: 780px){
    body{
        margin: 0 20px;
    }
}

