body{
    margin: 20px 100px;
    /*background-color: rgb(247, 244, 244);*/
    background-color:#ececec;
}
nav{
    display:flex;
    justify-content: space-between;
    padding: 10px 30px ;
    align-items: center;
    border-bottom:solid 1px beige;
    font-family:cursive;
    box-shadow: 0px 1px 0 0 rgba(151, 151, 151, 0.2);
}
.etp-id{
    display:flex;
    align-items:center;
    gap:20px;
}
.etp-id img{
    width:40px;
    height:40px;
}
.menu-options{
    display:flex;
    list-style: none;
    gap:30px;
}
.option{
    padding:5px;
}
#signIn{
    border:none;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    color:white;
    border-radius:5px;
    padding:5px;
}
#signIn:hover, #discover-button:hover, .submit:hover{
    cursor:pointer;
    background:linear-gradient(90deg,#1E90FF, #9400D3);
}
.link-signIn{
    color:#ffffff;
    font-weight:bold;
    text-decoration:none;
}
/*.menu-icon{
    display:none;
}*/

footer{
    margin-top:50px;
    border-top:solid 1px silver;
    padding:30px 10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}
.copyright{
    color:gray;
}
.network-links{
    display:flex;
    gap:18px;
    list-style:none;
    align-items:center;
    justify-content: center;
    padding:0;
}
.network-icon a{
    color:gray;
    text-decoration:none;
}

