.registration{
    display:flex;
    justify-content: space-between;
    margin-top:60px;
}
.image{
    width:45%;
    
}
.form-image{
    width:100%;
    height:100%;
    border-radius:10px;
}
.form-section{
    width: 35%;
    margin-right:50px;
    
}
h1{
    margin:0;
}
form{
    margin-top:32px;
}
label{
    font-weight:bolder;
}
input{
    width:calc(100% - 22px);
    padding:10px;
    background-color: #ffffff;
    border-radius:5px;
    border:solid 1px silver;
    margin-bottom:24px;
    margin-top:5px;
    outline:none;
}
.validation{
    width:100%;
    border-radius:5px;
    background: linear-gradient(90deg,#9400D3,#1E90FF);
    padding:10px;
    border:none;
    color:#ffffff;
    font-weight: bold;
}
.validation:hover{
    background: linear-gradient(90deg, #1E90FF, #9400D3);
    cursor:pointer;
}
form p{
    width:100%;
    text-align:center;
}
span{
    color:#9400D3;
    font-weight: bold;
}

.responsive-bar{
    display:none;
}

@media (max-width:953px){
    .nav-bar{
       box-shadow: none;
    }
    .menu-bar{
        display:none;
    }
    .responsive-bar{
        display:block;
    }
    .form-section{
        margin-right:0;
        width:45%;
    }
    form{
        margin-top:16px;
    }
    input{
        margin-bottom:12px;
    }
}
@media (max-width:800px){
     body{
        margin:20px;
    }
    .image{
        display:none;
    }
    .registration{
        display:block;
        
    }
    .form-section{
        width:60%;
        margin:auto;
    }
    .form-header{
        text-align:center;
    }
}
@media (max-width:600px){
   
    
    
    
    .form-header h1{
        text-align:center
    }
}